{%- assign videoClass = "" -%}
{%- assign hasVideoImage = false -%}
{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
  {%- assign videoClass = "video-thumbnail" -%}
  {%- assign hasVideoImage = true -%}
{% endif %}
<li class="product-single__thumbnails-item">
{% if hasVideoImage %}
<a
    href="{{ image.alt }}"
    class="product-single__thumbnail product-single__thumbnail--{{ product.id }} {{ videoClass }}" data-thumbnail="{{ image.src | img_url: product_image_size }}"
    {% for variant in image.variants limit: 1 %}data-varattach="{{ variant.id }}" data-sectionid="{{ product.id }}"{% endfor %}
    {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size }}"{% endif %}
    style="background-image:url({{ image.src | img_url: '1024x' }});">
    {% if hasVideoImage %}
      {% include 'icon-play-video' %}
    {% endif %}
  </a>
  {% else %}
  <a
    href="{{ image.src | img_url: product_image_size }}"
    class="product-single__thumbnail product-single__thumbnail--{{ product.id }} {{ videoClass }}"
    {% for variant in image.variants limit: 1 %}data-varattach="{{ variant.id }}" data-sectionid="{{ product.id }}"{% endfor %}
    {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size }}"{% endif %}
    style="background-image:url({{ image.src | img_url: '1024x' }});">
  </a>
{% endif %}
</li>