<div class="{{ section.settings.contained }} px-0">
    <div class="row slideshow-main" data-section-id="{{ section.id }}" data-section-type="slideshow-section" >
  
      {% if section.blocks.size > 0 %}
        <div class="col-60 slideshow-wrapper">
          <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
            <span class="slideshow__pause-stop">
              {% include 'icon-pause' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
            </span>
            <span class="slideshow__pause-play">
              {% include 'icon-play' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
            </span>
          </button>
  
          <div id="hero-slider" class="slideshow-animation slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-speed="{{ section.settings.autoplay_speed }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
            {% for block in section.blocks %}
              {%- assign is_background_video = false -%}
              {% if block.type == 'video' %}
                {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
                  {%- assign is_background_video = true -%}
                {% endif %}
              {% endif %}
  
              <div data-animation="heartBeat" class=" hero-slide slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>
                {% if block.settings.link != blank %}
                  <a href="{{ block.settings.link }}" class="slideshow__link">
                {% endif %}
  
                <style>
                  {% if block.settings.image != blank %}
                    .slideshow__image--{{ block.id }} {
                      background-position: {{ block.settings.alignment }};
                    }
  
                    @media screen and (max-width: 576px) {
                      {% if block.settings.image_mobile %}
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image_mobile | img_url: '800x' }}');
                      }
                      {% else %}
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image | img_url: '800x' }}');
                      }
                      {% endif %}
                    }
  
                    @media screen and (min-width: 577px) and (max-width: 768px) {
                      {% if block.settings.image_mobile %}
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image_mobile | img_url: '1000x' }}');
                      }
                      {% else %}
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image | img_url: '1000x' }}');
                      }
                      {% endif %}
                    }
  
                    @media screen and (min-width: 769px) and (max-width: 992px) {
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image | img_url: '1200x' }}');
                      }
                    }
  
                    @media screen and (min-width: 993px) and (max-width: 1200px) {
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image | img_url: '1600x' }}');
                      }
                    }
  
                    @media screen and (min-width: 1201px) {
                      .slideshow__image--{{ block.id }} {
                        background-image: url('{{ block.settings.image | img_url: '2000x' }}');
                      }
                    }
  
                  {% endif %}
  
                  {% if block.settings.heading_color != blank %}
                    .slideshow__text--{{ block.id }} h2.h1 {
                      color: {{ block.settings.heading_color }};
                    }
                  {% endif %}
  
                  {% if block.settings.subheading_color != blank %}
                    .slideshow__text--{{ block.id }} span.mega-subtitle {
                      color: {{ block.settings.subheading_color }};
                    }
                    .slideshow__text--{{ block.id }} hr {
                      border-top-color: {{ block.settings.subheading_color }};
                    }
                  {% endif %}
  
                  {% if block.settings.textunderlay %}
                    .slideshow__text--{{ block.id }} .slideshow__text-content .page-width:before {
                      opacity: 1;
                    }
                  {% endif %}
                </style>
                {% comment %} Slide 2 settings {% endcomment %}
                  {% if forloop.index == 2 %}
                    <div class="slide-2-main">
                      <div class="row">
                        <div class="col-30">
                          <div class="slide2-btn">
                              {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                              {% endif %}
                          </div>
                              <div class="slide2-img2" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                            </div>
                        </div>
                        <div class="col-30">
                          <div class="slide2-img1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                          </div>
                          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                              <div class="page-width">
                                {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                                    <span>{{ block.settings.title | escape }}</span>
                                  </h2>
                                {% endunless %}
                                {% unless block.settings.title == blank and block.settings.subheading == blank %}
              
                                {% endunless %}
                                <div class="d-none d-md-block">
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    <span>{{ block.settings.subheading | escape }}</span>
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.settings.subheading_2 != blank %}
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle mega-subtitle-secondary">
                                  <span>{{ block.settings.subheading_2 }}</span>
                                </span>
                                {% endif %}
                              </div>
                                <br/>
                                {% if block.type == 'video' %}
                                  {% unless block.settings.video_type == 'background' %}
                                    <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                                      <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                                        {% include 'icon-play-video' %}
                                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                                      </button>
                                    </div>
                                  {% endunless %}
                                {% else %}
                                  {% if block.settings.link != blank and block.settings.button != blank %}
                                    <span class="btn d-none" data-animation="fadeInLeft" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-block d-md-none">
                        {% unless block.settings.subheading == blank %}
                          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            <span>{{ block.settings.subheading | escape }}</span>
                          </span>
                        {% endunless %}
                        <br/>
                        {% if block.settings.subheading_2 != blank %}
                        <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle mega-subtitle-secondary">
                          <span>{{ block.settings.subheading_2 }}</span>
                        </span>
                        {% endif %}
                      </div>
                    </div>
                  {% endif%}
                {% comment %} sllide 2 settings ends {% endcomment %}

                {% comment %} Slide 2 settings {% endcomment %}
                  {% if forloop.index == 3 %}
                    <div class="slide-3-main">
                      <div class="row">
                        <div class="col-30 slide-3-leftside">
                              <div data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" class="slide3-img1" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                            </div>
                        </div>
                        <div class="col-30">
                          <div class="slide2-btn">
                              {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                              {% endif %}
                          </div>
                          <div class="slide3-img2" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                          </div>
                          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                              <div class="page-width">
                                {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                                    <span>{{ block.settings.title | escape }}</span>
                                  </h2>
                                {% endunless %}
                                {% unless block.settings.title == blank and block.settings.subheading == blank %}
              
                                {% endunless %}
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    <span>{{ block.settings.subheading | escape }}</span>
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.type == 'video' %}
                                  {% unless block.settings.video_type == 'background' %}
                                    <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                                      <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                                        {% include 'icon-play-video' %}
                                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                                      </button>
                                    </div>
                                  {% endunless %}
                                {% else %}
                                  {% if block.settings.link != blank and block.settings.button != blank %}
                                    <span class="btn d-none" data-animation="fadeInLeft" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif%}
                {% comment %} sllide 2 settings ends {% endcomment %}
                <div class="slideshow__image slideshow__image--{{ block.id }}">
                  {% if block.settings.image == blank %}
                    <div class="placeholder-background">
                      {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                      {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                </div> 
                <div class=" {% if forloop.index == 3 %} d-none {% endif %} {% if forloop.index == 2 %} d-none {% endif %} slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                  <div class="col-md-47{% if block.settings.text_layout == 'center' %} offset-md-8 offset-lg-5 {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">
                    <div class="page-width">
                
                      {% unless block.settings.title == blank %}
                        <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                          <span>{{ block.settings.title | escape }}</span>
                        </h2>
                      {% endunless %}
                      {% unless block.settings.title == blank and block.settings.subheading == blank %}
                        {% comment %} <hr /> {% endcomment %}
                      {% endunless %}
                      {% unless block.settings.subheading == blank %}
                        <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle delay-3 slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                          <span>{{ block.settings.subheading | escape }}</span>
                        </span>
                      {% endunless %}
                        <br/>
                      {% if block.type == 'video' %}
                        {% unless block.settings.video_type == 'background' %}
                          <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                            <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                              {% include 'icon-play-video' %}
                              <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                            </button>
                          </div>
                        {% endunless %}
                      {% else %}
                        {% if block.settings.link != blank and block.settings.button != blank %}
                          <span class="btn" data-delay="{{block.settings.button_delay}}" data-animation="{{block.settings.buttonAnimation}}">{{ block.settings.button }}</span>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
  
                {% if block.settings.link != blank %}
                  </a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="slider-progress">
            <div class="progress"></div>
          </div>  
        </div>
      {% endif %}
  
      {% if section.blocks.size == 0 %}
        <div class="placeholder-noblocks">
          {{ 'homepage.onboarding.no_content' | t }}
        </div>
      {% endif %}
      <div class="social-icons-main">
        <ul class="list--inline site-footer__social-icons social-icons">
            <li>
              <a class="social-icons__link" href="https://facebook.com/shopify" title="juniperunltd on Facebook">
                <em class="fab fa-facebook-f"></em>
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
            <li>
              <a class="social-icons__link" href="https://instagram.com/shopify" title="juniperunltd on Twitter">
                <em class="fab fa-instagram"></em>
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </li>
            <li>
              <a class="social-icons__link" href="#" title="juniperunltd on Pinterest">
                 <em class="fab fa-google-plus-g"></em>
                <span class="icon__fallback-text">Google Plus</span>
              </a>
            </li>
            <li>
              <a class="social-icons__link" href="http://twitter.com/shopify" title="juniperunltd on Instagram">
                <em class="fab fa-twitter"></em>
                <span class="icon__fallback-text">Twitter</span>
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
  {% if section.settings.slideshow_height == 'maintain_ratio' %}
    <style type="text/css">
      #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio {
        height: auto;
      }
      #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio .slideshow__slide {
        height: auto;
      }
      #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio .slideshow__slide:before {
        content: '';
        display: block;
        width: 100%;
        height: 0px;
        {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
        {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
        {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
        /* padding-top: {{ rounddown | plus: 1 }}%; */
      }
    </style>
  {% endif %}
  <style>

    .delay-1 {
    animation-delay: .25s;
    }
    .delay-2 {
    animation-delay: .5s;
    }
    .delay-3 {
    animation-delay: .75s;
    }
    .delay-4 {
    animation-delay: 1s;
    }
  </style>
  <script>
  $(document).ready(function(){
    var is_autoplay = '{{section.settings.autoplay}}';
  var time = 7;
  var $bar,
      $slick,
      isPause,
      tick,
      percentTime;
  
  $slick = $('#hero-slider');
  $slick.slick({
    draggable: true,
    adaptiveHeight: false,
    dots: {{section.settings.dots}},
    mobileFirst: true,
    autoplay: {{section.settings.autoplay}},
    autoplaySpeed: {{section.settings.autoplay_speed}},
    pauseOnDotsHover: true,
  });
  
  $bar = $('.slider-progress .progress');
  
  $('.slideshow-wrapper').on({
    mouseenter: function() {
      isPause = true;
    },
    mouseleave: function() {
      isPause = false;
    }
  })
  
  function startProgressbar() {
    resetProgressbar();
    percentTime = 0;
    isPause = false;
    tick = setInterval(interval, 10);
  }
  
  function interval() {
    if(isPause === false) {
      percentTime += 1 / (time+0.1);
      $bar.css({
        width: percentTime+"%"
      });
      if(percentTime >= 100)
        {
          if(is_autoplay == 'true'){
          $slick.slick('slickNext');
          startProgressbar();
          }else{
          startProgressbar();
          }
        }
    }
  }
  
  
  function resetProgressbar() {
    $bar.css({
     width: 0+'%' 
    });
    clearTimeout(tick);
  }
  
  startProgressbar();
  
});
  </script>
  


  <script>
    $(document).ready(function() {
        $('#hero-slider').on('init', function(e, slick) {
            var $firstAnimatingElements = $('div.hero-slide:first-child').find('[data-animation]');
            doAnimations($firstAnimatingElements);    
        });
        $('#hero-slider').on('beforeChange', function(e, slick, currentSlide, nextSlide) {
            console.log('testings......');
                  var $animatingElements = $('div.hero-slide[data-slick-index="' + nextSlide + '"]').find('[data-animation]');
                  doAnimations($animatingElements);    
        }); 
        // $('#hero-slider').slick({
        //    autoplay: '{{section.settings.autoplay}}',
        //    autoplaySpeed: 10000,
        //    dots: true,
           
        // });
        function doAnimations(elements) {
            var animationEndEvents = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            elements.each(function() {
                var $this = $(this);
                var $animationDelay = $this.data('delay');
                var $animationType = 'animated ' + $this.data('animation');
                $this.css({
                    'animation-delay': $animationDelay,
                    '-webkit-animation-delay': $animationDelay
                });
                $this.addClass($animationType).one(animationEndEvents, function() {
                    $this.removeClass($animationType);
                });
            });
        }
    });
    </script>