<div class="{{ section.settings.contained }} px-0">
  <div class="row slideshow-main" data-section-id="{{ section.id }}" data-section-type="slideshow-section" >

    {% if section.blocks.size > 0 %}
      <div class="col-60 slideshow-wrapper">
        <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
          <span class="slideshow__pause-stop">
            {% include 'icon-pause' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
          </span>
          <span class="slideshow__pause-play">
            {% include 'icon-play' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
          </span>
        </button>

        <div id="hero-slider{{ section.id }}" class="slideshow-animation slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-speed="{{ section.settings.autoplay_speed }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
          {% for block in section.blocks %}
            <div data-animation="heartBeat" class="{{ block.type }}-container hero-slide slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="slideshow__link">
              {% endif %}

              <style>
                {% if block.settings.image != blank %}
                  .slideshow__image--{{ block.id }} {
                    background-position: {{ block.settings.alignment }};
                  }

                  @media screen and (max-width: 576px) {
                    {% if block.settings.image_mobile %}
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image_mobile | img_url: '800x' }}');
                    }
                    {% else %}
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '800x' }}');
                    }
                    {% endif %}
                  }

                  @media screen and (min-width: 577px) and (max-width: 768px) {
                    {% if block.settings.image_mobile %}
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image_mobile | img_url: '1000x' }}');
                    }
                    {% else %}
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1000x' }}');
                    }
                    {% endif %}
                  }

                  @media screen and (min-width: 769px) and (max-width: 992px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1200x' }}');
                    }
                  }

                  @media screen and (min-width: 993px) and (max-width: 1200px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1600x' }}');
                    }
                  }

                  @media screen and (min-width: 1201px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '2000x' }}');
                    }
                  }

                {% endif %}

                {% if block.settings.heading_color != blank %}                  
                .style5 .slider-content .slider-left-content h1,
                .slideshow__text--{{ block.id }} h2.h1 span {
                    color: {{ block.settings.heading_color }};
                  }
                {% endif %}

                {% if block.settings.subheading_color != blank %}
                  .slideshow__text--{{ block.id }} span.mega-subtitle span {
                    color: {{ block.settings.subheading_color }};
                  }
                  .slideshow__text--{{ block.id }} hr {
                    border-top-color: {{ block.settings.subheading_color }};
                  }
                {% endif %}

                {% if block.settings.textunderlay %}
                  .slideshow__text--{{ block.id }} .slideshow__text-content .page-width:before {
                    opacity: 1;
                  }
                {% endif %}
              </style>

              <div class="slideshow__image slideshow__image--{{ block.id }}">
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>

              {% comment %} Slide 1 settings {% endcomment %}
              {% if block.type == "style1" %}
              <div class="style1">
                <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                  <div class="col-md-47 offset-md-8 offset-lg-5 text-{{ block.settings.text_align }} slideshow__text-content">
                    <div class="page-width">
                
                      {% unless block.settings.title == blank %}
                        <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                          <span>{{ block.settings.title | escape }}</span>
                        </h2>
                      {% endunless %}
                      {% unless block.settings.title == blank and block.settings.subheading == blank %}
                        {% comment %} <hr /> {% endcomment %}
                      {% endunless %}
                      {% unless block.settings.subheading == blank %}
                        <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle delay-3 slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                          <span>{{ block.settings.subheading | escape }}</span>
                          {% unless block.settings.subheading2 == blank %}
                          <br/>
                        <span data-animation="{{block.settings.subHeading2Animation}}" data-delay="{{block.settings.sub_heading2_delay}}" class="mega-subtitle delay-3 slideshow__subtitle-2{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                          <span>{{ block.settings.subheading2 | escape }}</span>
                        </span>
                      {% endunless %}
                        </span>
                      {% endunless %}
                        <br/>
                      {% if block.type == 'video' %}
                        {% unless block.settings.video_type == 'background' %}
                          <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                            <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                              {% include 'icon-play-video' %}
                              <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                            </button>
                          </div>
                        {% endunless %}
                      {% else %}
                        {% if block.settings.link != blank and block.settings.button != blank %}
                          <div class="slide-btn">
                            <span class="btn" data-delay="{{block.settings.button_delay}}" data-animation="{{block.settings.buttonAnimation}}">{{ block.settings.button }}</span>
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif%}
          {% comment %} sllide 1 settings ends {% endcomment %}

          {% comment %} Home sllide 2 settings {% endcomment %}
          {% if block.type == "homestyle2" %}
          <div class="homestyle2">
            <div class="slide-2-main">
              <div class="row">
                <div class="col-30">
                      <div class="slide2-img2" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                    </div>
                </div>
                <div class="col-30">
                  <div class="slide2-img1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                  </div>
                  <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                    <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                      <div class="page-width">
                        {% unless block.settings.title == blank %}
                          <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                            <span>{{ block.settings.title | escape }}</span>
                          </h2>
                        {% endunless %}
                        <div class="d-none d-md-block">
                        {% unless block.settings.subheading == blank %}
                          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            <span>{{ block.settings.subheading | escape }}</span>
                          </span>
                        {% endunless %}
                        <br/>
                        {% if block.settings.subheading_2 != blank %}
                        <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                          <span>{{ block.settings.subheading_2 }}</span>
                        </span>
                        {% endif %}
                        {% if block.settings.subheading_3 != blank %}
                        <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                          <span>{{ block.settings.subheading_3 }}</span>
                        </span>
                        {% endif %}
                      </div>
                      <div class="slide-btn slide2-btn">
                        {% if block.settings.link != blank and block.settings.button != blank %}
                          <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                        {% endif %}
                    </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-block d-md-none">
                        {% unless block.settings.subheading == blank %}
                          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            {{ block.settings.subheading | escape }}
                          </span>
                        {% endunless %}
                        <br/>
                        {% if block.settings.subheading_2 != blank %}
                        <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                          {{ block.settings.subheading_2 }}
                        </span>
                        {% endif %}
                        <br/>
                        {% if block.settings.subheading_3 != blank %}
                        <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                          {{ block.settings.subheading_3 }}
                        </span>
                        {% endif %}
                        <div class="slide-btn slide2-btn d-block d-sm-none">
                          {% if block.settings.link != blank and block.settings.button != blank %}
                            <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                          {% endif %}
                      </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% comment %} Home sllide 2 settings ends {% endcomment %}

          {% comment %}home Slide 3 settings {% endcomment %}
          {% if block.type == "homestyle3" %}
          <div class="homestyle3">
                    <div class="slideshow__text-content">  
                      <div class="container">
                        {% unless block.settings.title == blank %}
                          <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                            <span>{{ block.settings.title | escape }}</span>
                          </h2>
                        {% endunless %}
                        {% unless block.settings.subheading == blank %}
                          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            <span>{{ block.settings.subheading | escape }} </span>
                          </span>
                        {% endunless %}
                        {% unless block.settings.subheading2 == blank %}
                          <span data-animation="{{block.settings.subHeading2Animation}}" data-delay="{{block.settings.sub_heading2_delay}}" class="mega-subtitle slideshow__subtitle2">
                            <span>{{ block.settings.subheading2 | escape }}</span>
                          </span><br>
                        {% endunless %}
                      <div class="slide-btn slide2-btn">
                        {% if block.settings.link != blank and block.settings.button != blank %}
                          <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                        {% endif %}
                    </div>
                  </div>
            </div>
          </div>
          {% endif%}
          {% comment %} sllide 3 settings ends {% endcomment %}

          {% comment %} Home sllide 4 settings {% endcomment %}
{% if block.type == "homestyle4" %}
<div class="homestyle4">
  <div class="slide-2-main">
    <div class="row">
      <div class="col-25">
        <div class="slide2-img1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
        </div>
        <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
          <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
            <div class="page-width">
              {% unless block.settings.title == blank %}
                <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                  <span>{{ block.settings.title | escape }}</span>
                </h2>
              {% endunless %}
              <div class="d-none d-md-block">
              {% unless block.settings.subheading == blank %}
                <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                  <span>{{ block.settings.subheading | escape }}</span>
                </span>
              {% endunless %}
              <br/>
              {% if block.settings.subheading_2 != blank %}
              <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                <span>{{ block.settings.subheading_2 }}</span>
              </span>
              {% endif %}
              {% if block.settings.subheading_3 != blank %}
              <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                <span>{{ block.settings.subheading_3 }}</span>
              </span>
              {% endif %}
            </div>
            <div class="slide-btn slide2-btn">
              {% if block.settings.link != blank and block.settings.button != blank %}
                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
              {% endif %}
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-35">
            <div class="slide2-img2" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
          </div>
      </div>      
    </div>
    <div class="d-block d-md-none">
              {% unless block.settings.subheading == blank %}
                <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                  {{ block.settings.subheading | escape }}
                </span>
              {% endunless %}
              <br/>
              {% if block.settings.subheading_2 != blank %}
              <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                {{ block.settings.subheading_2 }}
              </span>
              {% endif %}
              <br/>
              {% if block.settings.subheading_3 != blank %}
              <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                {{ block.settings.subheading_3 }}
              </span>
              {% endif %}
              <div class="slide-btn slide2-btn d-block d-sm-none">
                {% if block.settings.link != blank and block.settings.button != blank %}
                  <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                {% endif %}
            </div>
    </div>
  </div>
</div>
{% endif %}

{% if block.type == "magnastyle" %}
<div class="slide2-img1 d-block d-sm-none" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
</div>
<div class="magnastyle d-none d-sm-block">
  <div class="container">
    <div class="row slide-2-main">
      <div class="col-40 col-sm-30">
        <div class="slide2-img1" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
        </div>
        <div class="slide-btn slide2-btn">
          {% if block.settings.link != blank and block.settings.button != blank %}
            <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
          {% endif %}
      </div>
      </div>
      <div class="col-20 col-sm-30">
          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
              <div class="page-width">
                  {% unless block.settings.title == blank %}
                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                    <span>{{ block.settings.title | escape }}</span>
                  </h2>
                {% endunless %}
                {% unless block.settings.subheading == blank %}
                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                    <span>{{ block.settings.subheading | escape }}</span>
                  </span>
                {% endunless %}
                <br/>
                {% if block.settings.subheading_2 != blank %}
                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                  <span>{{ block.settings.subheading_2 }}</span>
                </span>
                {% endif %}
                {% if block.settings.subheading_3 != blank %}
                <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                  <span>{{ block.settings.subheading_3 }}</span>
                </span>
                {% endif %}
              </div>
              </div>
          </div>
      </div>     
    </div>
  </div>
</div>
<div class="d-block d-sm-none">
  <div class="slideshow__text-wrap {% if block.settings.overlay %} slideshow__overlay{% endif %}">
    <div class="text-{{ block.settings.text_align }} slideshow__text-content">                     
      <div class="page-width">
        {% unless block.settings.subheading == blank %}
          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
            <span>{{ block.settings.subheading | escape }}</span>
          </span>
        {% endunless %}
        <br/>
        {% if block.settings.subheading_2 != blank %}
        <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
          <span>{{ block.settings.subheading_2 }}</span>
        </span>
        {% endif %}
        {% if block.settings.subheading_3 != blank %}
        <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
          <span>{{ block.settings.subheading_3 }}</span>
        </span>
        {% endif %}
        <div class="slide-btn slide2-btn">
          {% if block.settings.link != blank and block.settings.button != blank %}
            <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
          {% endif %}
      </div>
      </div>
      </div>
  </div>
</div>
{% endif %}
{% comment %} Home sllide 4 settings ends {% endcomment %}

              {% comment %} Slide 2 settings {% endcomment %}
              {% if block.type == "style2" %}
                  <div class="style2">
                    <div class="slide-2-main">
                      <div class="row">
                        <div class="col-30">
                          <div class="slide2-btn">
                              {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                              {% endif %}
                          </div>
                              <div class="slide2-img2" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                            </div>
                        </div>
                        <div class="col-30">
                          <div class="slide2-img1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                          </div>
                          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                              <div class="page-width">
                                {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                                    {{ block.settings.title | escape }}
                                  </h2>
                                {% endunless %}
                                {% unless block.settings.title == blank and block.settings.subheading == blank %}
              
                                {% endunless %}
                                <div class="d-none d-md-block">
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.settings.subheading_2 != blank %}
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle mega-subtitle-secondary">
                                  {{ block.settings.subheading_2 }}
                                </span>
                                {% endif %}
                              </div>
                                <br/>
                                {% if block.type == 'video' %}
                                  {% unless block.settings.video_type == 'background' %}
                                    <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                                      <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                                        {% include 'icon-play-video' %}
                                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                                      </button>
                                    </div>
                                  {% endunless %}
                                {% else %}
                                  {% if block.settings.link != blank and block.settings.button != blank %}
                                    <span class="btn d-none" data-animation="fadeInLeft" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-block d-md-none">
                        {% unless block.settings.subheading == blank %}
                          <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            {{ block.settings.subheading | escape }}
                          </span>
                        {% endunless %}
                        <br/>
                        {% if block.settings.subheading_2 != blank %}
                        <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle mega-subtitle-secondary">
                          {{ block.settings.subheading_2 }}
                        </span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              {% endif %}
          {% comment %} sllide 2 settings ends {% endcomment %}

              {% comment %} Slide 3 settings {% endcomment %}
                {% if block.type == "style3" %}
                  <div class="style3">
                    <div class="slide-3-main">
                      <div class="row">
                        <div class="col-30 slide-3-leftside">
                              <div data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" class="slide3-img1" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                            </div>
                        </div>
                        <div class="col-30">
                          <div class="slide2-btn">
                              {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                              {% endif %}
                          </div>
                          <div class="slide3-img2" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                          </div>
                          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                              <div class="page-width">
                                {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                                    {{ block.settings.title | escape }}
                                  </h2>
                                {% endunless %}
                                {% unless block.settings.title == blank and block.settings.subheading == blank %}
              
                                {% endunless %}
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.type == 'video' %}
                                  {% unless block.settings.video_type == 'background' %}
                                    <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                                      <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                                        {% include 'icon-play-video' %}
                                        <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                                      </button>
                                    </div>
                                  {% endunless %}
                                {% else %}
                                  {% if block.settings.link != blank and block.settings.button != blank %}
                                    <span class="btn d-none" data-animation="fadeInLeft" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                                  {% endif %}
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif%}
              {% comment %} sllide 3 settings ends {% endcomment %}

              {% comment %} Slide 4 settings {% endcomment %}
              {% if block.type == "style4" %}
              <div class="style4">
              <div class="slideshow__text-wrap slideshow__text--{{ block.id }} {% if block.settings.overlay %} slideshow__overlay{% endif %}">  
                <div class="row">
                <div data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')" class="col-25 slider-image1"></div>
                <div class="col-35 pr-0 pl-0">
                  <div data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')" class="slider-image2"></div>
                  <div class="slider-right-side d-none d-sm-block">
                    <div class="slider-content">
                    <div>
                      {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="slideshow-title">
                                    {{ block.settings.title | escape }}
                                  </h2>
                                {% endunless %}
                    <br>
                    {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="slideshow-text">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                    <br>
                    {% if block.settings.subheading_2 != blank %}
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="slideshow-text">
                                  {{ block.settings.subheading_2 }}
                                </span>
                                {% endif %}
                    <br>
                    {% if block.settings.subheading_3 != blank %}
                                <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="slideshow-simple-btn">
                                  {{ block.settings.subheading_3 }}
                                </span>
                                {% endif %}
                    </div>  
                  </div>
                  {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="slideshow-btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                  {% endif %}
                </div>
                </div>
              </div>  
              <div class="slider-right-side d-block d-sm-none">
                    <div class="slider-content">
                    <div>
                      {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="slideshow-title">
                                    {{ block.settings.title | escape }}
                                  </h2>
                                {% endunless %}
                    <br>
                    {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="slideshow-text">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                    
                    {% if block.settings.subheading_2 != blank %}
                    <br>
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="slideshow-text">
                                  {{ block.settings.subheading_2 }}
                                </span>
                                {% endif %}
                    
                    {% if block.settings.subheading_3 != blank %}
                    <br>
                                <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="slideshow-simple-btn">
                                  {{ block.settings.subheading_3 }}
                                </span>
                                {% endif %}
                                {% if block.settings.link != blank and block.settings.button != blank %}
                                <br>
                                <span class="slideshow-btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                  {% endif %} 
                    </div> 
                    
                  </div>                  
                </div>            
              </div>
              </div>
              {% endif%}
              {% comment %} sllide 4 settings ends {% endcomment %}

              {% comment %} Slide 5 settings {% endcomment %}
              {% if block.type == "style5" %}
              <div class="style5">
                <div class="slider-content">
                  <div class="row">
                      <div class="col-lg-25 col-35">
                          <div class="slider-left-content">
                            {% unless block.settings.title == blank %}
                                  <h1 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}">
                                    {{ block.settings.title | escape }}
                                  </h1>
                                {% endunless %}
                                {% unless block.settings.subheading == blank %}
                                  <h2 data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}">
                                    {{ block.settings.subheading | escape }}
                                  </h2>
                                {% endunless %}
                                {% if block.settings.subheading_2 != blank %}
                                <h3 data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}">{{ block.settings.subheading_2 }}</h3>                                  
                                </h3>
                                {% endif %}
                                {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                                {% endif %}
                          </div>
                      </div>
                      <div class="col-lg-35 col-25">
                          <div class="slider-right-content">
                            {% if block.settings.image_3 %}
                              <div class="slide slide-inactive-2" data-animation="{{block.settings.image_3_animation}}" data-delay="{{block.settings.image_3_delay}}" style="background-image:url('{{block.settings.image_3 | img_url: '1500x'}}')">                                  
                              </div>
                              {% endif %}
                            {% if block.settings.image_1 %}  
                            <div class="slide slide-active" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">                                  
                              </div>
                              {% endif %}
                              {% if block.settings.image_2 %}
                              <div class="slide slide-inactive-1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">                                  
                              </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
              </div>
              {% endif%}
              {% comment %} sllide 5 settings ends {% endcomment %}

            {% comment %} Slide 6 settings {% endcomment %}
            {% if block.type == "style6" %}
                  <div class="style6">
                    <div class="slide-2-main">
                      <div class="row">
                        <div class="col-30">
                          <div class="slide2-btn">
                              {% if block.settings.link != blank and block.settings.button != blank %}
                                <span class="btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
                              {% endif %}
                          </div>
                              <div class="slide2-img2" data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')">
                            </div>
                        </div>
                        <div class="col-30">
                          <div class="slide2-img1" data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')">
                          </div>
                          <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                            <div class="col-md-60{% if block.settings.text_layout == 'center' %} {% elsif block.settings.text_layout == 'right' %} offset-md-30{% endif %} text-{{ block.settings.text_align }} slideshow__text-content">                     
                              <div class="page-width">
                                {% unless block.settings.title == blank %}
                                  <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                                    {{ block.settings.title | escape }}
                                  </h2>
                                {% endunless %}
                                {% unless block.settings.title == blank and block.settings.subheading == blank %}
              
                                {% endunless %}
                                <div class="d-none d-md-block">
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.settings.subheading_2 != blank %}
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                                  {{ block.settings.subheading_2 }}
                                </span>
                                {% endif %}
                                <br/>
                                {% if block.settings.subheading_3 != blank %}
                                <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                                  {{ block.settings.subheading_3 }}
                                </span>
                                {% endif %}
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-block d-md-none">
                                {% unless block.settings.subheading == blank %}
                                  <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="mega-subtitle slideshow__subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                                    {{ block.settings.subheading | escape }}
                                  </span>
                                {% endunless %}
                                <br/>
                                {% if block.settings.subheading_2 != blank %}
                                <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                                  {{ block.settings.subheading_2 }}
                                </span>
                                {% endif %}
                                <br/>
                                {% if block.settings.subheading_3 != blank %}
                                <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="mega-subtitle slideshow__subtitle2 mega-subtitle-secondary">
                                  {{ block.settings.subheading_3 }}
                                </span>
                                {% endif %}
                      </div>
                    </div>
                  </div>
              {% endif %}
            {% comment %} sllide 6 settings ends {% endcomment %}

            {% comment %} Slide 7 settings {% endcomment %}
            {% if block.type == "style7" %}
            <div class="style7">
            <div class="slideshow__text-wrap slideshow__text--{{ block.id }} {% if block.settings.overlay %} slideshow__overlay{% endif %}">  
              <div class="row">
              <div data-animation="{{block.settings.image_1_animation}}" data-delay="{{block.settings.image_1_delay}}" style="background-image:url('{{block.settings.image_1 | img_url: '1500x'}}')" class="col-25 slider-image1">
                {% if block.settings.link != blank and block.settings.button != blank %}
                <span class="slideshow-btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
              {% endif %}

              </div>
              <div class="col-35 pr-0 pl-0">
                <div data-animation="{{block.settings.image_2_animation}}" data-delay="{{block.settings.image_2_delay}}" style="background-image:url('{{block.settings.image_2 | img_url: '1500x'}}')" class="slider-image2"></div>
                <div class="slider-right-side">
                  <div class="slider-content">
                  <div>
                    {% unless block.settings.title == blank %}
                                <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="slideshow-title">
                                  {{ block.settings.title | escape }}
                                </h2>
                              {% endunless %}
                  <br>
                  {% unless block.settings.subheading == blank %}
                                <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="slideshow-text">
                                  {{ block.settings.subheading | escape }}
                                </span>
                              {% endunless %}
                  <br>
                  {% if block.settings.subheading_2 != blank %}
                              <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="slideshow-text">
                                {{ block.settings.subheading_2 }}
                              </span>
                              {% endif %}
                  <br>
                  {% if block.settings.subheading_3 != blank %}
                              <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="slideshow-text">
                                {{ block.settings.subheading_3 }}
                              </span>
                              {% endif %}
                  </div>  
                </div>
              </div>
              </div>
            </div>              
            </div>
            </div>
            {% endif%}
            {% comment %} sllide 7 settings ends {% endcomment %}


            {% comment %} Slide 8 settings {% endcomment %}
            {% if block.type == "style8" %}
            <div class="style8">
            <div class="slideshow__text-wrap slideshow__text--{{ block.id }} {% if block.settings.overlay %} slideshow__overlay{% endif %}">  
            <div class="container">
              <div class="slider-content">
                <div>
                  {% unless block.settings.title == blank %}
                              <h2 data-animation="{{block.settings.headingAnimation}}" data-delay="{{block.settings.title_delay}}" class="slideshow-title">
                                {{ block.settings.title | escape }}
                              </h2>
                            {% endunless %}
                
                {% unless block.settings.subheading == blank %}
                <br>
                              <span data-animation="{{block.settings.subHeadingAnimation}}" data-delay="{{block.settings.sub_heading_delay}}" class="slideshow-text">
                                {{ block.settings.subheading | escape }}
                              </span>
                            {% endunless %}
                
                {% if block.settings.subheading_2 != blank %}
                <br>
                            <span data-animation="{{block.settings.subHeading_2_Animation}}" data-delay="{{block.settings.sub_heading_2_delay}}" class="slideshow-text">
                              {{ block.settings.subheading_2 }}
                            </span>
                            {% endif %}
                
                {% if block.settings.subheading_3 != blank %}
                <br>
                            <span data-animation="{{block.settings.subHeading_3_Animation}}" data-delay="{{block.settings.sub_heading_3_delay}}" class="slideshow-text">
                              {{ block.settings.subheading_3 }}
                            </span>
                            {% endif %}
                </div>  

                {% if block.settings.link != blank and block.settings.button != blank %}
                <span class="slideshow-btn" data-animation="{{block.settings.buttonAnimation}}" data-delay="{{block.settings.button_delay}}">{{ block.settings.button }}</span>
              {% endif %}
              </div>              
            </div>             
            </div>
            </div>
            {% endif%}
            {% comment %} sllide 8 settings ends {% endcomment %}
            {%- if block.type == "video_slide" -%}
            {%- if block.settings.video_url != blank -%}
            <div class="video-custom-wrapper">
            <a href="#" class="sound-options">
            <em class="fas fa-volume-mute"></em>
            </a>
              <video autoplay muted loop class="video-slide" id="video-slide--{{ block.id }}">
                <source src="{{ block.settings.video_url }}" type="video/mp4">
              </video>
            </div>
            {%- endif -%}
            {%- endif -%}
              {% if block.settings.link != blank %}
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>        
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {% endif %}  
    <div class="social-icons-main">
      <ul class="list--inline site-footer__social-icons social-icons">
          <li>
            <a class="social-icons__link" href="{{ settings.social_facebook_link }}" title="juniperunltd on Facebook">
              <em class="fab fa-facebook-f"></em>
              <span class="icon__fallback-text">Facebook</span>
            </a>
          </li>
          
          <li>
            <a class="social-icons__link" href="https://instagram.com/shopify" title="juniperunltd on Twitter">
              <em class="fab fa-instagram"></em>
              <span class="icon__fallback-text">Instagram</span>
            </a>
          </li>
          <li>
            <a class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">  
              <em class="fab fa-youtube"></em>
              <span class="icon__fallback-text">YouTube</span>
            </a>
          </li>
          <li>
            <a class="social-icons__link" href="http://twitter.com/shopify" title="juniperunltd on Instagram">
              <em class="fab fa-twitter"></em>
              <span class="icon__fallback-text">Twitter</span>
            </a>
          </li>
          <li>
            <a class="social-icons__link" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
              <em class="fab fa-pinterest-p"></em>
              <span class="icon__fallback-text">Pinterest</span>
            </a>
          </li>
          <li class="special-icons">
            <a href="#" class="social-icons__link" >
              <img src="{{ 'icon99999.png' | asset_url }}">
              {% comment %}
              {% include 'icon-chat' %}
              {% endcomment %}
            </a>
          </li>
          <li class="special-icons icon-man">
            <a href="#" target="_blank" class="social-icons__link" >
              <img src="{{ 'icon-man.png' | asset_url }}" style="max-width: 33px;">
              <!-- {{ 'ea-icon.png' | asset_img_url: 'x30' | img_tag: 'This icon serves as a link to download the eSSENTIAL Accessibility assistive technology app for individuals with physical disabilities. It is featured as part of our commitment to diversity and inclusion.', 'mb-3 mb-md-0' }} -->
      
              {% comment %}
              {% include 'icon-man' %}
              {% endcomment %}
            </a>
          </li>
      </ul>
    </div>  
  </div>
</div>
<script>
  $(document).ready(function(){
    
    $('.homestyle3 .slideshow__text-content .slideshow__subtitle span').contents().filter(function() {
        return this.nodeType == 3;
      }).each(function() {
          var node = this;
          node.data = $.trim(node.data);
          
          node.data.replace(/\s+(.*)\s*$/, function(all, match, offset) {
              var chunk = node.splitText(offset);
              chunk.parentNode.removeChild(chunk);
              var span = document.createElement('span');
              span.appendChild(document.createTextNode(' ' + match));
              node.parentNode.appendChild(span);
          });
      });
    })
</script>
{% if section.settings.slideshow_height == 'maintain_ratio' %}
  <style type="text/css">
    #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio .slideshow__slide {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow-animation.slideshow--maintain_ratio .slideshow__slide:before {
      content: '';
      display: block;
      width: 100%;
      height: 0px;
      {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
      {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
      {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
      padding-top: {{ rounddown | plus: 1 }}%;
    }
  </style>
{% endif %}
<style>

  .delay-1 {
  animation-delay: .25s;
  }
  .delay-2 {
  animation-delay: .5s;
  }
  .delay-3 {
  animation-delay: .75s;
  }
  .delay-4 {
  animation-delay: 1s;
  }
</style>
<script>
$(document).ready(function(){
  var is_autoplay = '{{section.settings.autoplay}}';
var time = 7;
var $bar,
    $slick,
    isPause,
    tick,
    percentTime;

$slick = $('#hero-slider{{ section.id }}');
$slick.slick({
  draggable: true,
  adaptiveHeight: false,
  infinite: false,
  dots: {{section.settings.dots}},
  mobileFirst: true,
  autoplay: {{section.settings.autoplay}},
  autoplaySpeed: {{section.settings.autoplay_speed}},
  pauseOnDotsHover: true,
});

$bar = $('.slider-progress .progress');

$('.slideshow-wrapper').on({
  mouseenter: function() {
    isPause = true;
  },
  mouseleave: function() {
    isPause = false;
  }
})

function startProgressbar() {
  resetProgressbar();
  percentTime = 0;
  isPause = false;
  tick = setInterval(interval, 10);
}

function interval() {
  if(isPause === false) {
    percentTime += 1 / (time+0.1);
    $bar.css({
      width: percentTime+"%"
    });
    if(percentTime >= 100)
      {
        if(is_autoplay == 'true'){
        $slick.slick('slickNext');
        startProgressbar();
        }else{
        startProgressbar();
        }
      }
  }
}


function resetProgressbar() {
  $bar.css({
   width: 0+'%' 
  });
  clearTimeout(tick);
}

startProgressbar();

});
</script>



<script>
  $(document).ready(function() {
      $('#hero-slider{{ section.id }}').on('init', function(e, slick) {
          var $firstAnimatingElements = $('div.hero-slide:first-child').find('[data-animation]');
          doAnimations($firstAnimatingElements);    
      });
      $('#hero-slider{{ section.id }}').on('beforeChange', function(e, slick, currentSlide, nextSlide) {
          //console.log('testings......');
                var $animatingElements = $('div.hero-slide[data-slick-index="' + nextSlide + '"]').find('[data-animation]');
                doAnimations($animatingElements);    
      }); 
      // $('#hero-slider{{ section.id }}').slick({
      //    autoplay: '{{section.settings.autoplay}}',
      //    autoplaySpeed: 10000,
      //    dots: true,
         
      // });
      function doAnimations(elements) {
          var animationEndEvents = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          elements.each(function() {
              var $this = $(this);
              var $animationDelay = $this.data('delay');
              var $animationType = 'animated ' + $this.data('animation');
              $this.css({
                  'animation-delay': $animationDelay,
                  '-webkit-animation-delay': $animationDelay
              });
              $this.addClass($animationType).one(animationEndEvents, function() {
                  $this.removeClass($animationType);
              });
          });
      }
  });
  </script>
  <script>
  $(document).ready(function(){
    $('.sound-options').click(function(){
      $(this).toggleClass('active');
      $(this).find('.fas').toggleClass('fa-volume-up fa-volume-mute');
      if($(this).hasClass('active')) {
        $(this).next().prop('muted',false);
      } else {
        $(this).next().prop('muted',true);
      }
    })
  })
  </script>