<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}{{ article.url }}"
    },
    "headline": "{{ article.title }}",
    "image": [
      "https:{{ article.image.src | img_url: 'original' }}"
    ],
    "datePublished": "{{ article.published_at }}",
    "dateModified": "{{ article.published_at | date: "%Y-%m-%dT%H:%M:%SZ" }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
     "publisher": {
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "https:{{ settings.logo | img_url: 'original' }}"
      }
    },
    "description": "{{ article.excerpt_or_content | strip_html | truncatewords: 100 | escape }}"
  }
</script>
<style>
  {% if article.image %}
  .article-hero__image {
    background-image: url({{ article.image.src | img_url: '1600x467', crop: 'center' }});
  }
  @media only screen and (max-width: 1200px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '1280x374', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 992px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '992x290', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 768px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '768x224', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 576px) {
    .article-hero__image {
      background-image:url('{{ article.image.src| img_url: '576x168', crop: 'center' }}'); 
    }
  }
  {% endif %}
</style>
{% if article.image != blank %}
<div class="article-banner">
  <div data-aos="{{ section.settings.images_animation }}" class="banner-img" style="background-image: url({{ article.image.src | img_url: '2000x' }});"></div>
</div>
{% endif %}
<div class="breadcrumb-article">
  <div class="container">
    <a href="">_Life / </a>
    <span>EVERYBODYFITS</span>
    {% if blog.next_article %}
    <div class="next text-right">{{ 'Next //' | link_to: blog.next_article }}</div>
    {% elsif blog.previous_article %}
    <div class="next text-right">{{ 'Prev //' | link_to: blog.previous_article }}</div>
    {% endif %}
  </div>
</div>
{% for tag in article.tags %}
  {% if tag contains 'title--' %}
    {%- assign titleTag = tag | remove_first: 'title--' -%}
    {% break %}
  {% endif %}
{% endfor %}
<div class="article-content">
  <div class="content-inner">
    <div class="heading clearfix">
      {% if titleTag %}
      <h2>#{{ titleTag }}</h2>
      {% endif %}
      {% if article.excerpt != blank %}
      <h3>{{ article.excerpt | strip_html }}</h3>
      {% endif %}
    </div>
    <div class="heading-main">
      <h2>{{ article.title }}</h2>
    </div>
    <div class="content-main text-center">
      {{ article.content }}
    </div>
    <div class="relate-stories">
      <div class="container">
        <div class="section-header">
            <h2>
            _RELATE <em>stories</em>
            </h2>
        </div>
        <div class="row">
          <div class="col-md-45">
            <div class="story-links">
              {% for tag in article.tags %}
                {% if tag contains 'related--' %}
                {%- assign article_handle = tag | remove_first: 'related--' -%}
                {%- assign related_article = articles[article_handle] -%}
                <a href="{{ related_article.url }}">{{ related_article.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Images Animation"
      },
      {
        "type": "select",
        "id": "images_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "flip-down"
      }
    ]
  }
{% endschema %}