<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}{{ article.url }}"
    },
    "headline": "{{ article.title }}",
    "image": [
      "https:{{ article.image.src | img_url: 'original' }}"
    ],
    "datePublished": "{{ article.published_at }}",
    "dateModified": "{{ article.published_at | date: "%Y-%m-%dT%H:%M:%SZ" }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
     "publisher": {
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "https:{{ settings.logo | img_url: 'original' }}"
      }
    },
    "description": "{{ article.excerpt_or_content | strip_html | truncatewords: 100 | escape }}"
  }
</script>
<style>
  {% if article.image %}
  .article-hero__image {
    background-image: url({{ article.image.src | img_url: '1600x467', crop: 'center' }});
  }
  @media only screen and (max-width: 1200px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '1280x374', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 992px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '992x290', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 768px) {
    .article-hero__image {
      background-image:url('{{ article.image.src | img_url: '768x224', crop: 'center' }}'); 
    }
  }
  @media only screen and (max-width: 576px) {
    .article-hero__image {
      background-image:url('{{ article.image.src| img_url: '576x168', crop: 'center' }}'); 
    }
  }
  {% endif %}
</style>
{% if article.image != blank %}
<div class="article-banner">
  <div data-aos="{{ section.settings.images_animation }}" class="banner-img" style="background-image: url({{ article.image.src | img_url: '2000x' }});"></div>
</div>
{% endif %}
<div class="breadcrumb-article">
  <div class="container">
    <a href="">_Life / </a>
    <span>EVERYBODYFITS</span>
    {% if blog.next_article %}
    <div class="next text-right">{{ 'Next //' | link_to: blog.next_article }}</div>
    {% elsif blog.previous_article %}
    <div class="next text-right">{{ 'Prev //' | link_to: blog.previous_article }}</div>
    {% endif %}
  </div>
</div>
{% for tag in article.tags %}
  {% if tag contains 'title--' %}
    {%- assign titleTag = tag | remove_first: 'title--' -%}
    {% break %}
  {% endif %}
{% endfor %}
<div class="article-content">
  <div class="content-inner">
    <div class="heading clearfix">
      {% if titleTag %}
      <h2>#{{ titleTag }}</h2>
      {% endif %}
      {% if article.excerpt != blank %}
      <h3>{{ article.excerpt | strip_html }}</h3>
      {% endif %}
    </div>
    <div class="heading-main">
      <h2>{{ article.title }}</h2>
    </div>
    <div class="content-main text-center">
      {{ article.content }}
    </div>
    <div class="relate-stories">
      <div class="container">
        <div class="section-header">
            <h2>
            _RELATE <em>stories</em>
            </h2>
        </div>
        <div class="row">
          <div class="col-md-45">
            <div class="story-links">
              {% for tag in article.tags %}
                {% if tag contains 'related--' %}
                {%- assign article_handle = tag | remove_first: 'related--' -%}
                {%- assign related_article = articles[article_handle] -%}
                <a href="{{ related_article.url }}">{{ related_article.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="article-detail">
  <div class="container">
      
      <div class="brand-edit-text-wrap brand-detail-wrap" style="float: right;">
          <div id="brand-edit-slider" class="brand-detail-slider">
              <div class="brand-edit-slider">
                  <h3>shop</h3>
                  <h2>The Story</h2>
                  <div class="product-images" style="background-image:url('//cdn.shopify.com/s/files/1/0363/6704/0647/products/Screenshot_3_1100x.jpg?v=1590037255');"></div>
                  <h4>NAME wears</h4>
                  <p>Glen Plaid Long Sleeve Shirt with
                      Magnetic Closures</p>
                  <a href="">Shop Now</a>
              </div>
              <div class="brand-edit-slider">
                  <h3>shop</h3>
                  <h2>The Story</h2>
                  <div class="product-images" style="background-image:url('//cdn.shopify.com/s/files/1/0363/6704/0647/products/Screenshot_3_1100x.jpg?v=1590037255');"></div>
                  <h4>NAME wears</h4>
                  <p>Glen Plaid Long Sleeve Shirt with
                      Magnetic Closures</p>
                  <a href="">Shop Now</a>
              </div>
          </div>
      </div>
      <div class="article-heading">
          <h2>
              <span>loren doren</span>
              <span>copy</span>
          </h2>
      </div>
      
      <h3>Loren Name</h3>
      <p>Epelictatem quam quo ommolorem quamend eliquas aut
          doluptia sequam id que venimol uptaece rovitaest elluptas ex et
          eum harupta nissinturion rem. Et quas debitis vel illo moluptiam
          harum endipsa eceatiae mod eos nos secti sequam, odita nis
          andem ero et pra sant excea nectibus, quis enem el ipsam
          litias cus imporeperum quo evereic torempos nonectur magnis antia sintis explitiumque
          volendamus et fugite sunt volut et optio doluptaque aut aboritios mo officit exernatiis
          doluptas doles et ullate qui omnis id expeditis sam eos dolore volore verspitiis dollab int
          eati consend elictur?Uciasiti onsequosam lit vidunt pos earchit iatur? Am lab ipsam, quo
          cum aceresectur sum quaturoritios mo officit exernatiis doluptas dole?</p>
      
      <div class="gallery-image" style="float: right;">
          <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
          <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
              aut et.</p>
      </div>
      <p>
          Qui susam etus nihicab oribusa pistota tionsequi
          cum santo etur aceat magnima seceateni dis sunt
          faceruptas sinciam a dolorum a con porum quos
          doluptate pore perendae preribea pro int occabor
          emolorest expliqu idempores et offici que pa
          siminiment a seque nessum ipsapis cipsam rem
          nonsequo velit, as dollendant et ipsaes pa dolupta
          pratum inctio blab inveribus mos di nobisci anditia
          sunt, opta sitatur, odi omniam, experor ernates ciuntis
          intu expliqu idempores et offici que pa siminiment a
          seque nessum ipsapis cipsam rem nonsequr?
      </p>
      <p>
          Iqui aut res nisqui dolum eostiat atiuntia sin ni occum
          quiate cuptatibus sincius il modit volentur simus eum
          iliae perum, optatin turiscimodis nusam voluptassim
          dia cullest molorerum vellabor rem que sunt quiberit,
          quo que nulparum qui quo maximax imenimus min et 
      </p>
      <div class="clearfix"></div>
      <div class="blue-border"></div>
      <div class="gallery-image" style="float: left; margin: 0 30px 0 0;">
          <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
          <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
              aut et.</p>
      </div>
      <p>
          Epelictatem quam quo ommolorem quamend
          eliquas aut doluptia sequam id que venimol uptaece
          rovitaest elluptas ex et eum harupta nissinturion
          rem. Et quas debitis vel illo moluptiam harum
          endipsa eceatiae mod eos nos secti sequam, odita
          nis andem ero et pra sant excea nectibus, quis
          enem el ipsam litias cus imporeperum quo evereic
          torempos nonectur magnis antia sintis explitiumque
          volendamus et fugite sunt volut et optio doluptaque
          aut aboritios mo officit exernatiis doluptas doles et
          ullate qui omnis id expeditis sam eos dolore volore
          verspitiis dollab int eati consend elictur?Uciasiti
          onsequosam lit vidunt pos earchit iatur? Editatus am
          ea samus consedipsam, sitasimentem quid qui sa is
          dolenis renis sunt hil ius pa is vel inctem ipsum etur
          sed qui berum eaque dolut aceaqua temperes autet
          landite culpa eicto volestiunt
          fuga. Ut porest, core volut et
          volupis incto coriam fuga. 
      </p>
      
      <div class="article-heading inn" style="">
          <h2 style="">
              <span>loren</span>
              <span>doren</span>
              <span>copy</span>
          </h2>
      </div>
      <p>
          Ut
          di rehenis ime dolor audae
          natemporem aliqui odis doloribust, quame volupta nobis delenestio
          et audandaessum fuga. Nequiatem quas di si sectorempor molupta
          sintius min repelec tiatusapit ventincto berum idemodia soloribearia
          et dolorem facieni hilluptatem quis quid moluptam, cusda as eos
          eos et adi dolor si dollabo. Temod utem. Nem qui berumet ut
          voloreptiae nonseni militia cus dunt occum suntem nonsectas re
          vel in conem assecepudam ut laciis eatis ex et iscidi utem evelenet
          qui dolenti ntectem suscia dipsunt eniamus, sequia nos aliquiam
          fuga. Peribus, que vellignatem sa nati nossequassum repersp
          eligenima quis sectus pa is dolo verum dolorepta verferi atector
          eiundae riberibus que pa dusdaectatem aut aut alit pratet minto id
          ex enis nonse elibus nim im ratiatureped qui alicta
          <span class="j-icon" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/j-icon.png?v=1590133221);"></span>
      </p>
  </div>
</div>
<script>
  $('.brand-detail-slider').slick({
     speed: 300,
     slidesToShow: 1,
     slidesToScroll: 1,
  });
</script>
{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Images Animation"
      },
      {
        "type": "select",
        "id": "images_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "flip-down"
      }
    ]
  }
{% endschema %}