<div class="article-main">
<div class="container">
      <div class="custom-page-heading">
        <div class="section-header collection-page-header text-left">
          {% if section.settings.title != blank %}
            <h1>{{ section.settings.title }}</h1>
          {% endif %}
          {% if section.settings.description != blank %}
          <div class="rte">
            <p>{{ section.settings.description }}</p>
          </div>
          {% endif %}
        </div>

        <ul class="pdp-top-links aos-init aos-animate" data-aos="flip-down">
            <li><a href="#">THEME <em>of</em> MONTH</a></li>
            <li><a href="#"><em>by</em> CONDITION</a></li>
            <li><a href="#">LATEST</a></li>
            <li><span>ALL</span></li>
          </ul>
    </div>
    {% if section.settings.tags contains tag %}
  <div class="row">
    <div class="col-md-60 text-center">
      <div class="blog-links font-italic">
      {% for tag in blog.all_tags %}
    <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>{% if forloop.last %}{% else %} / {% endif %}
{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-30 archive-links">
      <p>_ARCHIVE / <a href="#">ALL</a></p>
    </div>
    <div class="col-md-30 text-right">
      <form action="/search" method="get" role="search">
        <input type="hidden" name="type" value="article">
        <button class="search-header__submit search__submit btn--link" type="submit">
          Search
        </button>
        <span>//</span>
        <input class="search-header__input search__input"
          type="search"
          name="q"
          aria-label="{{ 'general.search.placeholder' | t }}">
       </form>

    </div>
  </div>
</div>
<div class="container">
  <div class="row">
{% for article in blog.articles limit: 16 %}
{% for tag in article.tags %}
  {% if tag contains 'button--' %}
    {%- assign button = tag | remove_first: 'button--' -%}
    {% break %}
  {% endif %}
{% endfor %}
    <div class="col-md-15">
      <div class="article-wrap">
        <a href="{{ article.url }}"><div class="article-image" style="background-image:url('{{ article.image.src | img_url: '1000x' }}')"></div></a>
          <div class="article-meta">
            {% if article.tags.size > 0 %}
            <p>
            {%- assign firstTag = false -%}
                {% for tag in article.tags %}
                {% unless tag contains '--' %}
                  {% if firsttag == false%}/ {%- assign firstTag = true -%}{% endif %}<a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                  {% endunless %}
                {% endfor %}
            </p>
            {% endif %}
          </div>
          <div class="article-content">
            <h2>{{ article.title }}</h2>
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: 10, '' }}</p>
                {% endif %}
                <div class="clearfix"></div>
            <a href="{{ article.url }}">Read more {{ button }}</a>
          </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>
</div>
{% schema %} 
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "list",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Archive Heading",
        "default": "archive_"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Archive Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      },
      {
        "type": "text",
        "id": "tags",
        "label": "Add comma separated tags you want to show"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable sidebar?"
      }
    ],
    "blocks": [
      {
        "type": "collection_sidebar",
        "name": "Featured Collection",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection to use"
          },
          {
            "type": "select",
            "id": "collection_qty",
            "options": [
              { "value": "2", "label": "2" },
              { "value": "3", "label": "3" },
              { "value": "4", "label": "4" },
              { "value": "5", "label": "5" },
              { "value": "6", "label": "6" }
            ],
            "label": "Number of products to show"
          }
        ]
      },
      {
        "type": "menu_sidebar",
        "name": "Quick Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "link_list",
            "id": "quick_links",
            "label": "Linklist to use"
          }
        ]
      },
      {
        "type": "image_sidebar",
        "name": "Advertisement",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Ad image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Ad link"
          }
        ]
      },
      {
        "type": "blog_sidebar",
        "name": "Most Recent Blog Post",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Latest Article"
          }
        ]
      }
    ]
  }
{% endschema %}
