{%- assign current_month = "now" | date: "%B" -%}
  <div class="connection-events">
    <div class="section-header">
        <div class="container">
                {% if section.settings.title != blank %}
                <h2>{{ section.settings.title }}</h2>
                {% endif %}
        </div>
    </div>
    <div class="connection-events-detial">
            <div data-aos="{{ section.settings.month_animation }}" class="month">{{ current_month }}</div>
            <div class="row">
                <div class="col-xl-50 offset-xl-8">
                <div class="row">
                {% if section.settings.blog != blank %}
                    {%- assign blog = blogs[section.settings.blog] -%}
                    {% unless blog.articles_count < 1 %}
                    {% for article in blog.articles limit: section.settings.post_limit %}
                    {% assign article_date = article.published_at | date: "%B" %}
                    {% if article_date == current_month %}
                    <div class="col-md-30 col-lg-30 col-xl-20 no-padding">
                        <div class="connect-grid" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/bg-1.png?v=1586157888);">
                            <div class="connect-grid-img" data-aos="{{ section.settings.images_animation }}" style="background-image: url({{ article.image.src | img_url: '1000x' }});"></div>
                            <div class="connect-grid-txt" data-aos="{{ section.settings.tags_animation }}">
                                {% for tag in article.tags %}
                                        <h3>{{ tag }}</h3><br>
                                {% endfor %}
                            </div>
                            <div data-aos="{{ section.settings.days_animation }}" class="connect-grid-date">{{ article.published_at | date: "%d" }}</div>
                            <div class="connect-grid-detail">
                                <h2 data-aos="{{ section.settings.title_animation }}"><a href="{{ article.url }}">{{ article.title }}</a>
                                </h2>
                                <p data-aos="{{ section.settings.description_animation }}">{{ article.content | strip_html | truncate: 150 }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endunless %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
  {% schema %} 
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Events Heading"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Event Blog"
      },
    {
        "type": "select",
        "id": "post_limit",
        "label": "Posts",
        "default": "6",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      },
      {
        "type": "header",
        "content": "Images Animation"
      },
      {
        "type": "select",
        "id": "images_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "flip-down"
      },
      {
        "type": "header",
        "content": "Days Animation"
      },
      {
        "type": "select",
        "id": "days_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "flip-down"
      },
      {
        "type": "header",
        "content": "Month Animation"
      },
      {
        "type": "select",
        "id": "month_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "flip-down"
      },
      {
        "type": "header",
        "content": "Description Animation"
      },
      {
        "type": "select",
        "id": "description_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "fade-up"
      },
      {
        "type": "header",
        "content": "Tags Animation"
      },
      {
        "type": "select",
        "id": "tags_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "fade-up"
      },
      {
        "type": "header",
        "content": "Titles Animation"
      },
      {
        "type": "select",
        "id": "title_animation",
        "label": "Animation",
        "options": [
              {
              "group": "FADE",
              "value": "fade-up",
              "label": "fade up"
              },
              {
              "group": "FADE",
              "value": "fade-down",
              "label": "fade down"
              },
              {
              "group": "FADE",
              "value": "fade-right",
              "label": "fade right"
              },
              {
              "group": "FADE",
              "value": "fade-left",
              "label": "fade left"
              },
              {
              "group": "FADE",
              "value": "fade-up-right",
              "label": "fade up right"
              },
              {
              "group": "FADE",
              "value": "fade-up-left",
              "label": "fade up left"
              },
              {
              "group": "FADE",
              "value": "fade-down-right",
              "label": "fade down right"
              },
              {
              "group": "FADE",
              "value": "fade-down-left",
              "label": "fade down left"
              },
              {
              "group": "FLIP",
              "value": "flip-left",
              "label": "flip left"
              },
              {
              "group": "FLIP",
              "value": "flip-right",
              "label": "flip right"
              },
              {
              "group": "FLIP",
              "value": "flip-up",
              "label": "flip up"
              },
              {
              "group": "FLIP",
              "value": "flip-down",
              "label": "flip down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in",
              "label": "zoom in"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-up",
              "label": "zoom in up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-down",
              "label": "zoom in down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-left",
              "label": "zoom in left"
              },
              {
              "group": "ZOOM",
              "value": "zoom-in-right",
              "label": "zoom in right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out",
              "label": "zoom out"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-up",
              "label": "zoom out up"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-down",
              "label": "zoom out down"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-right",
              "label": "zoom out right"
              },
              {
              "group": "ZOOM",
              "value": "zoom-out-left",
              "label": "zoom out left"
              }
        ],
        "default": "fade-up"
      }
    ]
  }
{% endschema %}