<div class="home-topnews">
    <div class="container-fluid">
    {% if section.settings.title != blank %}
      <div class="row">
        <div class="col-lg-54 offset-lg-6">
          <div class="section-header">
            <h2 data-aos="{{ section.settings.animation_title }}">{{ section.settings.title | escape }}</h2>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-xl-12 d-none d-md-block"></div>
        <div class="col-xl-48 col-60">
          <div class="top-news-content topnews-slider">
          {%- assign blog = blogs[section.settings.blog] -%}
          {% unless blog.articles_count < 1 %}
          {% for article in blog.articles limit: section.settings.post_limit %}
          {%- assign title = article.title | split: ' -- ' -%}
          <div class="home-news-section" data-aos="{{ section.settings.animation_blog }}">
            <div class="single-news-article">
              <div class="row no-gutters">
              {% if article.image %}
                <div class="col-lg-20">
                  <div class="news-image" style="background-image:url('{{article.image | img_url: '500x'}}');"></div>
                </div>
              {% endif %}
                <div class="col-lg-40">
                  <div class="news-content">
                    <h2>{{ title[0] }}</h2>
                    <p>on <em>{{ title[1] }}</em> with {{ title[2] }}.</p>
                    <a href="{{ article.url }}">READ MORE ABOUT {{ title[0] }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.topnews-slider').slick({
  infinite: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  arrows:true,
  focusOnSelect: true,
  responsive: [
    {
      breakpoint: 1651,
      settings: {
        centerPadding: '450px'
      }
    },
    {
      breakpoint: 1500,
      settings: {
        centerPadding: '350px'
      }
    },    {
      breakpoint: 1330,
      settings: {
        centerPadding: '200px'
      }
    },
    {
      breakpoint: 992,
      settings: {
        centerPadding:'100'
      }
    },
    {
      breakpoint: 768,
      settings: {
        centerPadding:'0',
        dots: true
      }
    },
    {
      breakpoint: 576,
      settings: {
        slidesToShow: 2
      }
    },
    {
      breakpoint: 400,
      settings: {
        slidesToShow: 1
      }
    }
  ]
});
</script>
{% schema %}
  {
    "name": "Top News",
    "class": "index-section home-top-news",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "_TOP news"
      },
      {
        "type": "select",
        "id": "animation_title",
        "label": "Animation",
        "options": [
            {
            "group": "FADE",
            "value": "fade-up",
            "label": "fade up"
            },
            {
            "group": "FADE",
            "value": "fade-down",
            "label": "fade down"
            },
            {
            "group": "FADE",
            "value": "fade-right",
            "label": "fade right"
            },
            {
            "group": "FADE",
            "value": "fade-left",
            "label": "fade left"
            },
            {
            "group": "FADE",
            "value": "fade-up-right",
            "label": "fade up right"
            },
            {
            "group": "FADE",
            "value": "fade-up-left",
            "label": "fade up left"
            },
            {
            "group": "FADE",
            "value": "fade-down-right",
            "label": "fade down right"
            },
            {
            "group": "FADE",
            "value": "fade-down-left",
            "label": "fade down left"
            },
            {
            "group": "FLIP",
            "value": "flip-left",
            "label": "flip left"
            },
            {
            "group": "FLIP",
            "value": "flip-right",
            "label": "flip right"
            },
            {
            "group": "FLIP",
            "value": "flip-up",
            "label": "flip up"
            },
            {
            "group": "FLIP",
            "value": "flip-down",
            "label": "flip down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in",
            "label": "zoom in"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-up",
            "label": "zoom in up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-down",
            "label": "zoom in down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-left",
            "label": "zoom in left"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-right",
            "label": "zoom in right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out",
            "label": "zoom out"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-up",
            "label": "zoom out up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-down",
            "label": "zoom out down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-right",
            "label": "zoom out right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-left",
            "label": "zoom out left"
            }
        ],
        "default": "flip-down"
        },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "select",
        "id": "post_limit",
        "label": "Posts",
        "default": "5",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "animation_blog",
        "label": "Animation",
        "options": [
            {
            "group": "FADE",
            "value": "fade-up",
            "label": "fade up"
            },
            {
            "group": "FADE",
            "value": "fade-down",
            "label": "fade down"
            },
            {
            "group": "FADE",
            "value": "fade-right",
            "label": "fade right"
            },
            {
            "group": "FADE",
            "value": "fade-left",
            "label": "fade left"
            },
            {
            "group": "FADE",
            "value": "fade-up-right",
            "label": "fade up right"
            },
            {
            "group": "FADE",
            "value": "fade-up-left",
            "label": "fade up left"
            },
            {
            "group": "FADE",
            "value": "fade-down-right",
            "label": "fade down right"
            },
            {
            "group": "FADE",
            "value": "fade-down-left",
            "label": "fade down left"
            },
            {
            "group": "FLIP",
            "value": "flip-left",
            "label": "flip left"
            },
            {
            "group": "FLIP",
            "value": "flip-right",
            "label": "flip right"
            },
            {
            "group": "FLIP",
            "value": "flip-up",
            "label": "flip up"
            },
            {
            "group": "FLIP",
            "value": "flip-down",
            "label": "flip down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in",
            "label": "zoom in"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-up",
            "label": "zoom in up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-down",
            "label": "zoom in down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-left",
            "label": "zoom in left"
            },
            {
            "group": "ZOOM",
            "value": "zoom-in-right",
            "label": "zoom in right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out",
            "label": "zoom out"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-up",
            "label": "zoom out up"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-down",
            "label": "zoom out down"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-right",
            "label": "zoom out right"
            },
            {
            "group": "ZOOM",
            "value": "zoom-out-left",
            "label": "zoom out left"
            }
        ],
        "default": "flip-down"
        }
    ],
    "presets": [
      {
        "name": "Top News",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
