<div class="welness-talks" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/talk-bg.png?v=1588852544);">
  <div class="container">
    <div class="section-header">
      <h2>_JUNIPER <em>talks</em></h2>
    </div>
    <div class="row">
      <div class="col-lg-25 offset-lg-35">
        <div class="block-content">
          <h3> Grace Stratton </h3><br>
          <h3> X </h3><br>
          <h3> Ashton Applewhite </h3>
          <p>This month’s Juniper Talks takes
            the conversation next level with
            disability activist Grace Stratton
            and Anti-Ageist Ashton Applewhite</p>
        </div>
        <div class="block-btn">
          <a href="">read NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <div class="welness-talks" style="background-image: url({{ section.settings.image | img_url: '2000x' }});">
  <div class="container">
  {% if section.settings.heading != blank %}
    <div class="section-header">
      <h2>{{ section.settings.heading }}</h2>
    </div>
  {% endif %}
    <div class="row">
      <div class="col-lg-25 offset-lg-35">
        <div class="block-content">
          {{ section.settings.title }}
          {{ section.settings.text }}
        </div>
        {% if section.settings.button_link != blank and section.settings.button_text != blank %}
        <div class="block-btn">
          <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div> {% endcomment %}
{% schema %}
  {
    "name": "Welness Talks",
    "settings": [
      {
        "type": "html",
        "id": "heading",
        "label": "Page Heading",
        "default": "_JUNIPER <em>talks</em>"
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Title",
        "default": "<h3> Grace Stratton </h3><br><h3> X </h3><br><h3> Ashton Applewhite </h3>"
      },
      {
        "type":"richtext",
        "id":"text",
        "label":"Copy",
        "default":"<p>This month’s Juniper Talks takes the conversation next level with disability  activist Grace Stratton and Anti-Ageist Ashton Applewhite</p>"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text",
        "default":"read NOW"
      },
      {
        "type":"url",
        "id":"button_link",
        "label":"Button link"
      }
    ]
  }
{% endschema %}