<div class="blog-detail-container">
  <div class="blog-ban" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/slide-1-bg_2000x.png?v=1590126530);">
    <div class="container">
      <div class="row">
        <div class="col-md-40 offset-md-10">
          <div class="blog-ban-img" style="background-image: url({{ article.image.src | img_url: '1000x' }});"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-page-gapLeft container stories-sec-container">
    <div class="archive-links">
      <p><span>_STORIES /</span> <a href="#">INTERGENARATION</a></p>
    </div>
<div class="stories-sec-content">
<div class="row">
  <div class="col-xl-40 offset-xl-10">
    <div class="loren-copy-heading">
      <h2>{{ article.title  }}</h2>
      <p>Xero eum, qui dolesedipsus unt faccae nam</p>
    </div>
    <div class="row">
      <div class="col-md-30">
        <div class="stories-sub-heading">by {{ article.author }}, writer</div>
      </div>
      <div class="col-md-30 stories-icons">
        <ul>
          <li><a href=""><i class="fas fa-heart"></i></a></li>
          <li><a href=""><i class="fas fa-envelope"></i></a></li>
          <li><a href=""><i class="fas fa-print"></i></a></li>
          <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="stories-text">
      
      <p>In memor el and disabled rights activist. Rovitaest elluptas ex et eum harupta
          nissinturion rem. Et quas debitis vel illo moluptiam hpos nonectar
          With her prosthetic right leg, Cax was a proudly unconventional figure who changed
          the face of modern modeling.</p>
        <div class="stories-blocks">
          <ul>
            <li>
              <div class="stories-block-img" style="background-image: url('{{ 'art-img1.jpg' | asset_url }}');"></div>
            </li>
            <li>
              <div class="stories-block-img" style="background-image: url('{{ 'art-img1.jpg' | asset_url }}');"></div>
            </li>
            <li>
              <div class="stories-block-img" style="background-image: url('{{ 'art-img1.jpg' | asset_url }}');"></div>
            </li>
          </ul>
          <p>From left to right: Father 1, father 2, father 3. Different
            stories linked by the love of fatherhood</p>
        </div>
        <p> Epelictatem quam quo ommolorem quamend eliquas
          aut doluptia sequam id que venimol uptaece
          rovitaest elluptas ex et eum harupta nissinturion
          rem. Et quas debitis vel illo moluptiam hpos
          nonectarum endipsa eceatiae mod eos nos secti
          sequam, odita nis andem ero et pra sant pos
          nonectexcea nectibus, quis enem el ipsam litias
          cus imporeperum quo evereic torempos nopos </p>
      
    </div>

  </div>
</div>


</div>


</div>
{% if article.excerpt != blank %}
{%- assign art_excerpts = article.excerpt | split: 'src="' -%}
<div class="family-gallery-container">
   <div class="container">
      <div class="col-lg-50 offset-lg-5">
         <div class="family-gallery">
         {% for art_excerpt in art_excerpts %}
         {%- if forloop.index == 1 -%}
            {%- continue -%}
         {%- endif -%}
         {%- assign img_parts = art_excerpt | split: '"' -%}
         {%- assign img_url = img_parts[0] -%}
         <div class="family-item">
            <img src="{{ img_url }}" class="center-block">
         </div>
         {% endfor %}
         </div>
      </div>
   </div>
</div>
{% endif %}
</div>


<div class="article-detail">
  <div class="container">
  {%- for tag in article.tags -%}
     {%- if tag contains 'shop--' -%}
        {%- assign hasProducts = true -%}
        {% break %}
     {%- endif -%}
  {%- endfor -%}
{% if hasProducts %}
      <div class="brand-edit-text-wrap brand-detail-wrap" style="float: right;">
          <div id="brand-edit-slider" class="brand-detail-slider">
             {% for tag in article.tags %}
             {%- assign product = '' -%}
                {% if tag contains 'shop--' %}
                {%- assign product_handle = tag | remove: 'shop--' -%}
                {%- assign product = all_products[product_handle] -%}
                <div class="brand-edit-slider">
                  <h3>shop</h3>
                  <h2>The Story</h2>
                  <div class="product-images" style="background-image:url('{{ product.featured_image.src | img_url: '1100x' }}');"></div>
                  <h4>{{ product.title }}</h4>
                  <p>Glen Plaid Long Sleeve Shirt with
                      Magnetic Closures</p>
                  <a href="{{ product.url }}">Shop Now</a>
              </div>
                {% endif %}
             {% endfor %}
          </div>
      </div>
      {% endif %}
      <div class="article-heading">
          <h2>
              <span>loren doren</span>
              <span>copy</span>
          </h2>
      </div>
      
      <h3>Loren Name</h3>
      <p>Epelictatem quam quo ommolorem quamend eliquas aut
          doluptia sequam id que venimol uptaece rovitaest elluptas ex et
          eum harupta nissinturion rem. Et quas debitis vel illo moluptiam
          harum endipsa eceatiae mod eos nos secti sequam, odita nis
          andem ero et pra sant excea nectibus, quis enem el ipsam
          litias cus imporeperum quo evereic torempos nonectur magnis antia sintis explitiumque
          volendamus et fugite sunt volut et optio doluptaque aut aboritios mo officit exernatiis
          doluptas doles et ullate qui omnis id expeditis sam eos dolore volore verspitiis dollab int
          eati consend elictur?Uciasiti onsequosam lit vidunt pos earchit iatur? Am lab ipsam, quo
          cum aceresectur sum quaturoritios mo officit exernatiis doluptas dole?</p>
      
      <div class="gallery-image" style="float: right;">
          <div class="gallery-image-item">
            <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
            <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
                aut et.</p>
          </div>
          <div class="gallery-image-item">
            <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
            <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
                aut et.</p>
          </div>
          <div class="gallery-image-item">
            <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
            <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
                aut et.</p>
          </div>
      </div>
      <p>
          Qui susam etus nihicab oribusa pistota tionsequi
          cum santo etur aceat magnima seceateni dis sunt
          faceruptas sinciam a dolorum a con porum quos
          doluptate pore perendae preribea pro int occabor
          emolorest expliqu idempores et offici que pa
          siminiment a seque nessum ipsapis cipsam rem
          nonsequo velit, as dollendant et ipsaes pa dolupta
          pratum inctio blab inveribus mos di nobisci anditia
          sunt, opta sitatur, odi omniam, experor ernates ciuntis
          intu expliqu idempores et offici que pa siminiment a
          seque nessum ipsapis cipsam rem nonsequr?
      </p>
      <p>
          Iqui aut res nisqui dolum eostiat atiuntia sin ni occum
          quiate cuptatibus sincius il modit volentur simus eum
          iliae perum, optatin turiscimodis nusam voluptassim
          dia cullest molorerum vellabor rem que sunt quiberit,
          quo que nulparum qui quo maximax imenimus min et 
      </p>
      <div class="clearfix"></div>
      <div class="blue-border"></div>
      <div class="gallery-image" style="float: left; margin: 0 30px 0 0;">
        <div class="gallery-image-item">
          <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
          <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
              aut et.</p>
          </div>
          <div class="gallery-image-item">
            <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
            <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
                aut et.</p>
          </div>
          <div class="gallery-image-item">
            <img src="https://cdn.shopify.com/s/files/1/0363/6704/0647/files/article-gallery.png?v=1590131052" alt="" />
            <p><span>FATHER 2</span> cuptiusda num que doluptiur, volore cus, iniam
                aut et.</p>
          </div>
      </div>
      <p>
          Epelictatem quam quo ommolorem quamend
          eliquas aut doluptia sequam id que venimol uptaece
          rovitaest elluptas ex et eum harupta nissinturion
          rem. Et quas debitis vel illo moluptiam harum
          endipsa eceatiae mod eos nos secti sequam, odita
          nis andem ero et pra sant excea nectibus, quis
          enem el ipsam litias cus imporeperum quo evereic
          torempos nonectur magnis antia sintis explitiumque
          volendamus et fugite sunt volut et optio doluptaque
          aut aboritios mo officit exernatiis doluptas doles et
          ullate qui omnis id expeditis sam eos dolore volore
          verspitiis dollab int eati consend elictur?Uciasiti
          onsequosam lit vidunt pos earchit iatur? Editatus am
          ea samus consedipsam, sitasimentem quid qui sa is
          dolenis renis sunt hil ius pa is vel inctem ipsum etur
          sed qui berum eaque dolut aceaqua temperes autet
          landite culpa eicto volestiunt
          fuga. Ut porest, core volut et
          volupis incto coriam fuga. 
      </p>
      
      <div class="article-heading inn" style="">
          <h2 style="">
              <span>loren</span>
              <span>doren</span>
              <span>copy</span>
          </h2>
      </div>
      <p>
          Ut
          di rehenis ime dolor audae
          natemporem aliqui odis doloribust, quame volupta nobis delenestio
          et audandaessum fuga. Nequiatem quas di si sectorempor molupta
          sintius min repelec tiatusapit ventincto berum idemodia soloribearia
          et dolorem facieni hilluptatem quis quid moluptam, cusda as eos
          eos et adi dolor si dollabo. Temod utem. Nem qui berumet ut
          voloreptiae nonseni militia cus dunt occum suntem nonsectas re
          vel in conem assecepudam ut laciis eatis ex et iscidi utem evelenet
          qui dolenti ntectem suscia dipsunt eniamus, sequia nos aliquiam
          fuga. Peribus, que vellignatem sa nati nossequassum repersp
          eligenima quis sectus pa is dolo verum dolorepta verferi atector
          eiundae riberibus que pa dusdaectatem aut aut alit pratet minto id
          ex enis nonse elibus nim im ratiatureped qui alicta
          <span class="j-icon" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/j-icon.png?v=1590133221);"></span>
      </p>
  </div>
</div>

<script>
$('.family-gallery').slick({
       speed: 300,
       slidesToShow: 1,
       slidesToScroll: 1,
       infinite: false
    });
    $('.brand-detail-slider').slick({
     speed: 300,
     slidesToShow: 1,
     slidesToScroll: 1,
  });
  $('.gallery-image').slick({
     speed: 300,
     slidesToShow: 1,
     slidesToScroll: 1,
  });
</script>