{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

{% section 'product-related' %}
<div id="main-review-sec" class="review-list-container">
  <div class="container pdp-gapLeft">
    <!-- <img src="{{'reviews-list.png' | asset_url }}"> -->
    <div class="review-block">
      <div class="row">
        <div class="col-md-20 col-lg-20 col-xl-10">
          <div class="reviewer-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/seal.png?v=1589193804);"></div>
        </div>
        <div class="col-md-40 col-lg-40 col-xl-50">
          <h3>Dominick Evans </h3>
          <p>
            <span>“I play laying down, so the challenge for me is always finding the right place to mount the controller.”</span>
            Net pedisci unt utest, sequam eos rae si ut est, et aliati doloriberi omnia quiat offic te simporio ea peliquis derchitet possectorcum faceri antiis 
            Net pedisci unt utest, sequam eos rae si ut est, et aliati doloriberi omnia quiat offic te simporio ea peliquis derchitet possectorcum faceri antiis 
          </p>
          <div class="product-list">
            <ul>
              <li><a href="">recommend product // </a></li>
              <li><a href="">easy to wear // </a></li>
              <li><a href="">do not need assistance </a></li>
            </ul>
          </div>
          <div class="review-star">
            <ul>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="review-block">
      <div class="row">
        <div class="col-md-20 col-lg-20 col-xl-10">
          <div class="reviewer-img" style="background-image: url(https://cdn.shopify.com/s/files/1/0363/6704/0647/files/seal.png?v=1589193804);"></div>
        </div>
        <div class="col-md-40 col-lg-40 col-xl-50">
          <h3>Dominick Evans </h3>
          <p>
            <span>“I play laying down, so the challenge for me is always finding the right place to mount the controller.”</span>
            Net pedisci unt utest, sequam eos rae si ut est, et aliati doloriberi omnia quiat offic te simporio ea peliquis derchitet possectorcum faceri antiis 
            Net pedisci unt utest, sequam eos rae si ut est, et aliati doloriberi omnia quiat offic te simporio ea peliquis derchitet possectorcum faceri antiis 
          
          </p>
          <div class="product-list">
            <ul>
              <li><a href="">recommend product // </a></li>
              <li><a href="">easy to wear // </a></li>
              <li><a href="">do not need assistance </a></li>
            </ul>
          </div>
          <div class="review-star">
            <ul>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
              <li><a href="" class="selected"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="review-block">
      <div class="row">
        <div class="col-md-10">
        </div>
        <div class="col-md-50">
          <div class="full-review">
            <a id="review-btn">Full Review Here >></a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


{% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ product.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
